td,th {
  padding: 5px;
  border: 1px solid #fff;
}

th {
  background: #000;
  color: green;
}

td {
  background-color: rgb(141, 138, 138);
}

button {
  padding: 5px;
  border: 1px solid #222;
  width: 80px;
}
