<td>{{user?.name}}</td>
<td>{{user?.lastname}}</td>
<td>{{user?.fiscalcode}}</td>
<td>{{user?.email}}</td>
<td>{{user?.phone}}</td>
<td>{{user?.province}}</td>
<td>{{user?.age}}</td>
<td>
  <div class="row">
    <div class="col-sm">
      <a class="btn btn-success btn-sm" [routerLink]="['/users', user?.id]">
        <fa-icon [icon]="faEye"></fa-icon>
      </a>
    </div>
    <div class="col-sm">
      <a class="btn btn-primary btn-sm" [routerLink]="['/users', user?.id, 'edit']">
        <fa-icon [icon]="faPen"></fa-icon>
      </a>
    </div>
    <div class="col-sm">
      <a class="btn btn-danger btn-sm" (click)="deleteUser()">
        <fa-icon [icon]="faTrash"></fa-icon>
      </a>
    </div>
  </div>
</td>